@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* TODO: only import font weight used */

:root {
	/* Color  */
	/* 		Luminosity values */
	--lum-main: 10;
	--lum-secondary: 125;
	--lum-hover: 125;
	--lum-focus: 90;
	--lum-hover-bg: 225;
	--lum-focus-bg: 200;
	--lum-background: 250;
	/* 		Color values */
	--clr-main: rgba(var(--lum-main), var(--lum-main), var(--lum-main), 1);
	--clr-secondary: rgba(var(--lum-secondary), var(--lum-secondary), var(--lum-secondary), 1);
	--clr-background: rgba(var(--lum-background), var(--lum-background), var(--lum-background), 1);
	--clr-hover: rgba(var(--lum-hover), var(--lum-hover), var(--lum-hover), 1);
	--clr-focus: rgba(var(--lum-focus), var(--lum-focus), var(--lum-focus), 1);
	--clr-hover-bg: rgba(var(--lum-hover-bg), var(--lum-hover-bg), var(--lum-hover-bg), 1);
	--clr-focus-bg: rgba(var(--lum-focus-bg), var(--lum-focus-bg), var(--lum-focus-bg), 1);

	/* Typography */
	--base-font-size: 12px;

	/* Layout */
	--page-margin: 4rem;
	--side-bar-width: 260px;
	--about-content-width: 390px;

	/* side bar options */
	--side-bar-collapsed: 260px;
	--side-bar-expanded-parameters: 260px;
	--side-bar-expanded-buttons: 200px;

	/* Graphic Elements */
	--stroke-size: 2px;
}

* {
	font-family: 'IBM Plex Mono', monospace;
	font-size: var(--base-font-size);
}

body {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: var(--clr-background);
}

@media only screen and (max-height: 595px) {
	main {
		overflow-y: scroll;
	}
}

main {
	max-width: 1920px;
}

.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.section-title {
	font-size: 1.2rem;
	font-style: italic;
	font-weight: 700;
	margin: 0;
	margin-bottom: 0.5rem;
	color: var(--clr-main);
}

.section-title-button-cont {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.section-title-button-cont > span {
	font-size: 1rem;
	font-weight: 500;
	font-style: italic;
	cursor: pointer;
	color: var(--clr-secondary);
	/* So the button is has a bigger bounding box and is therefore easier to click */
	padding: 0.5rem 1rem;
	transform: translateX(1rem);
	text-align: right;
}

.section-title-button-cont > span:hover {
	color: var(--clr-focus-bg);
}

/* Button */
.def-bttn {
	position: relative;
	width: 100%;
	max-width: 300px;
	color: var(--clr-main);
	font-size: 1rem;
	text-align: left;
	font-weight: 700;
	background-color: var(--clr-background);
	border: var(--stroke-size) solid var(--clr-main);
	border-radius: var(--stroke-size);
	padding: 0.75rem 1.25rem;
	cursor: pointer;
	margin-top: 0.5rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.def-bttn:hover {
	background-color: var(--clr-hover-bg);
}

.def-bttn:active {
	background-color: var(--clr-focus-bg);
}

/* Slider */
.def-slider {
	-webkit-appearance: none;
	margin-top: 1rem;
	width: 100%;
	background-color: transparent;
}

.def-slider:focus {
	outline: none;
}

/* slider thumb */
.def-slider::-webkit-slider-thumb {
	height: 0.9rem;
	width: 0.9rem;
	background-color: var(--clr-main);
	border-radius: var(--stroke-size);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: calc(-0.45rem + var(--stroke-size) / 2);
}

.def-slider::-webkit-slider-thumb:hover {
	background-color: var(--clr-hover);
}

.def-slider::-moz-range-thumb {
	height: 0.9rem;
	width: 0.9rem;
	background-color: var(--clr-main);
	border-radius: var(--stroke-size);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: calc(-0.45rem + var(--stroke-size) / 2);
}

.def-slider::-ms-thumb {
	height: 0.9rem;
	width: 0.9rem;
	background-color: var(--clr-main);
	border-radius: var(--stroke-size);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: calc(-0.45rem + var(--stroke-size) / 2);
}

/* Track */
.def-slider::-webkit-slider-runnable-track {
	width: 100%;
	height: var(--stroke-size);
	cursor: pointer;
	background-color: var(--clr-main);
	background-clip: content-box;
	box-sizing: content-box;
	padding: 0.5rem 0;
}

.def-slider::-webkit-slider-runnable-track:hover {
	background-color: var(--clr-hover);
	background-clip: content-box;
}

.def-slider::-webkit-slider-runnable-track:active {
	background-color: var(--clr-focus);
	background-clip: content-box;
}

.def-slider:focus::-webkit-slider-runnable-track {
	background-color: var(--clr-hover);
}

.def-slider::-moz-range-track {
	width: 100%;
	height: var(--stroke-size);
	cursor: pointer;
	background-color: var(--clr-main);
	background-clip: content-box;
	box-sizing: content-box;
	padding: 0.5rem 0;
}

.def-slider::-moz-range-track:hover {
	background-color: var(--clr-hover);
	background-clip: content-box;
}

.def-slider::-moz-range-track:active {
	background-color: var(--clr-focus);
	background-clip: content-box;
}

.def-slider::-ms-track {
	width: 100%;
	height: var(--stroke-size);
	cursor: pointer;
	background-color: var(--clr-main);
	background-clip: content-box;
	box-sizing: content-box;
	padding: 0.5rem 0;
}

.def-slider::-ms-track:hover {
	background-color: var(--clr-hover);
	background-clip: content-box;
}

.def-slider::-ms-track:active {
	background-color: var(--clr-focus);
	background-clip: content-box;
}

/* Scrollbar */
.def-scroll::-webkit-scrollbar {
	width: 0.5rem;
}

.def-scroll::-webkit-scrollbar-track {
	background-color: var(--clr-hover-bg);
}

.def-scroll::-webkit-scrollbar-thumb {
	background-color: var(--clr-main);
}

.def-scroll::-webkit-scrollbar-thumb:hover,
.def-scroll::-webkit-scrollbar-thumb:active {
	background-color: var(--clr-hover);
}
